In [ ]:
Name:Sarthak bante
Roll no.07
sec:A

In \[2\]:

    import pandas as pd

In \[3\]:

    import matplotlib.pyplot as plt

In \[4\]:

    import seaborn as sns

In \[5\]:

    import numpy as np
    import os

In \[6\]:

    os.getcwd()

Out\[6\]:

    'C:\\Users\\HP'

In \[7\]:

    os.chdir('C:\\Users\\HP\\Desktop')

In \[8\]:

    df=pd.read_csv("Salary.csv")

In \[9\]:

    df.head()

Out\[9\]:

|     | YearsExperience | Salary |
|-----|-----------------|--------|
| 0   | 1.1             | 39343  |
| 1   | 1.3             | 46205  |
| 2   | 1.5             | 37731  |
| 3   | 2.0             | 43525  |
| 4   | 2.2             | 39891  |

In \[10\]:

    df.tail()

Out\[10\]:

|     | YearsExperience | Salary |
|-----|-----------------|--------|
| 30  | 11.2            | 127345 |
| 31  | 11.5            | 126756 |
| 32  | 12.3            | 128765 |
| 33  | 12.9            | 135675 |
| 34  | 13.5            | 139465 |

In \[11\]:

    df.head(30)

Out\[11\]:

|     | YearsExperience | Salary |
|-----|-----------------|--------|
| 0   | 1.1             | 39343  |
| 1   | 1.3             | 46205  |
| 2   | 1.5             | 37731  |
| 3   | 2.0             | 43525  |
| 4   | 2.2             | 39891  |
| 5   | 2.9             | 56642  |
| 6   | 3.0             | 60150  |
| 7   | 3.2             | 54445  |
| 8   | 3.2             | 64445  |
| 9   | 3.7             | 57189  |
| 10  | 3.9             | 63218  |
| 11  | 4.0             | 55794  |
| 12  | 4.0             | 56957  |
| 13  | 4.1             | 57081  |
| 14  | 4.5             | 61111  |
| 15  | 4.9             | 67938  |
| 16  | 5.1             | 66029  |
| 17  | 5.3             | 83088  |
| 18  | 5.9             | 81363  |
| 19  | 6.0             | 93940  |
| 20  | 6.8             | 91738  |
| 21  | 7.1             | 98273  |
| 22  | 7.9             | 101302 |
| 23  | 8.2             | 113812 |
| 24  | 8.7             | 109431 |
| 25  | 9.0             | 105582 |
| 26  | 9.5             | 116969 |
| 27  | 9.6             | 112635 |
| 28  | 10.3            | 122391 |
| 29  | 10.5            | 121872 |

In \[12\]:

    df.info()
    #attribute

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 35 entries, 0 to 34
    Data columns (total 2 columns):
     #   Column           Non-Null Count  Dtype  
    ---  ------           --------------  -----  
     0   YearsExperience  35 non-null     float64
     1   Salary           35 non-null     int64  
    dtypes: float64(1), int64(1)
    memory usage: 688.0 bytes

In \[13\]:

    df.describe()
    #record

Out\[13\]:

|       | YearsExperience | Salary        |
|-------|-----------------|---------------|
| count | 35.000000       | 35.000000     |
| mean  | 6.308571        | 83945.600000  |
| std   | 3.618610        | 32162.673003  |
| min   | 1.100000        | 37731.000000  |
| 25%   | 3.450000        | 57019.000000  |
| 50%   | 5.300000        | 81363.000000  |
| 75%   | 9.250000        | 113223.500000 |
| max   | 13.500000       | 139465.000000 |

In \[14\]:

    df.shape

Out\[14\]:

    (35, 2)

In \[15\]:

    df.size

Out\[15\]:

    70

In \[16\]:

    df.ndim

Out\[16\]:

    2

In \[ \]: